<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css">
        /* -------------------------------------
            GLOBAL RESETS
        ------------------------------------- */

        /*All the styling goes here*/

        img {
            border: none;
            -ms-interpolation-mode: bicubic;
            max-width: 100%;
        }
        @font-face {
            font-family: "1HyundaiSansHeadOffice";
            ('HyundaiSansHeadOffice.ttf') format('truetype');
        }
      

       
  

    </style>
</head>
<body>
<span class="preheader">[PREHEADER]</span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">

                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" class="main">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" font-family="1HyundaiSansHeadOffice">
                                <tr>
                                    
                                      
                                        <h3 style ="font-family:'1HyundaiSansHeadOffice' " >Hello HYUNDAI</h3>
                                        <h3 style = "font-family: customThin,serif;">Hello</h3>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
 
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>